/*---- for guest view ----*/


/*----- single pricing options ----*/
.single-pricing-options{
	margin-bottom: 25px !important;
}
.single-pricing-options div:first-child{
	display: inline-block;
	padding-right: 20px;
	border-right: 2px solid #f2f2f1;
}

.single-pricing-options div:last-child{
	display: inline-block;
	padding-left: 20px;
}

.single-pricing-options small{
	font-size: 13px;
	color: #b9a284;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.single-pricing-options b{
	font-size: 26px;
	font-weight: 100;
}



/*----- multiple pricing options ----*/
.multiple-pricing-options{
	width: 100%;
	display: inline-block;
	margin-bottom: 15px;
}

.multiple-pricing-options ul{
	list-style-type: none;
	margin: 0;
	padding: 0;	
}
.multiple-pricing-options ul li {
	font-size: 24px !important;
	line-height: 24px;
	color: #b9a284;
	font-weight: 400;
	background: none;
	float: left;
	width: 50%;
	padding: 7px 25px;
	margin: 0;
}

.multiple-pricing-options ul li span {
	font-size: 16px;
	font-weight: 100;
	display: inline-block;
	color:#595754;
	margin-bottom: 0px;
	margin-top: 2px;
	text-align: left;
}

.multiple-pricing-options ul li:first-child {
	padding-left: 0px;
	border-right: 2px solid #f2f2f1;
}

.multiple-pricing-options ul li span.totalopttxt{
	color: #b9a284 !important;
	display: block !important;
	font-size: 13px !important;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.multiple-pricing-options ul li span.singdoutxt{
	display: block !important;
}





@media(max-width: 651px) and (min-width: 401px){

	/*----- single pricing options ----*/
	.single-pricing-options b {
		font-size: 23px;
		font-weight: 100;
	}

	/*----- multiple pricing options ----*/
	.multiple-pricing-options ul li {
		width: 100%;
	}
	.multiple-pricing-options ul li:first-child {
		padding-left: 0px;
		border-right: none;
	}
	.multiple-pricing-options ul li:last-child {
		padding-left: 0px;
		border-right: none;
	}
}

@media (min-width: 280px) and (max-width: 400px) {

	/*----- single pricing options ----*/
	.single-pricing-options b {
		font-size: 22px;
		font-weight: 100;
	}
	.single-pricing-options div:first-child {
		display: block;
		padding-bottom: 10px;
		padding-right: 0;
		border: 0;
	}
	.single-pricing-options div:last-child {
		display: block;
		padding-top: 10px;
		padding-left: 0;
	}

	/*----- multiple pricing options ----*/
	.multiple-pricing-options ul li {
		width: 100%;
	}
	.multiple-pricing-options ul li:first-child {
		padding-left: 0px;
		border-right: none;
	}
	.multiple-pricing-options ul li:last-child {
		padding-left: 0px;
		border-right: none;
	}
}
