/**
** Pakage : enchanting travels
** Author : Mohammed Nadeem 
**/

/* -------------------- Fonts Css ------------------ */

@font-face {
	font-family: 'SoinSansPro-ThinOblique';
	src: url('../../fonts/SoinSansPro-ThinOblique');
	src: url('../../fonts/SoinSansPro-ThinOblique.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SoinSansPro-ThinOblique.woff2') format('woff2'),
	url('../../fonts/SoinSansPro-ThinOblique.woff') format('woff'),
	url('../../fonts/SoinSansPro-ThinOblique.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}


@font-face {
	font-family: 'SoinSansPro-MediumOblique';
	src: url('../../fonts/SoinSansPro-MediumOblique.eot');
	src: url('../../fonts/SoinSansPro-MediumOblique.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SoinSansPro-MediumOblique.woff2') format('woff2'),
	url('../../fonts/SoinSansPro-MediumOblique.woff') format('woff'),
	url('../../fonts/SoinSansPro-MediumOblique.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}



@font-face {
	font-family: 'SoinSansPro-LightOblique';
	src: url('../../fonts/SoinSansPro-LightOblique.eot');
	src: url('../../fonts/SoinSansPro-LightOblique.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SoinSansPro-LightOblique.woff2') format('woff2'),
	url('../../fonts/SoinSansPro-LightOblique.woff') format('woff'),
	url('../../fonts/SoinSansPro-LightOblique.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}


@font-face {
	font-family: 'SoinSansPro-Roman';
	src: url('../../fonts/SoinSansPro-Roman.eot');
	src: url('../../fonts/SoinSansPro-Roman.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SoinSansPro-Roman.woff2') format('woff2'),
	url('../../fonts/SoinSansPro-Roman.woff') format('woff'),
	url('../../fonts/SoinSansPro-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}


@font-face {
	font-family: 'SoinSansPro-Light';
	src: url('../../fonts/SoinSansPro-Light.eot');
	src: url('../../fonts/SoinSansPro-Light.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SoinSansPro-Light.woff2') format('woff2'),
	url('../../fonts/SoinSansPro-Light.woff') format('woff'),
	url('../../fonts/SoinSansPro-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}


@font-face {
	font-family: 'SoinSansPro-Bold';
	src: url('../../fonts/SoinSansPro-Bold.eot');
	src: url('../../fonts/SoinSansPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SoinSansPro-Bold.woff2') format('woff2'),
	url('../../fonts/SoinSansPro-Bold.woff') format('woff'),
	url('../../fonts/SoinSansPro-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}


@font-face {
	font-family: 'SoinSansPro-Thin';
	src: url('../../fonts/SoinSansPro-Thin.eot');
	src: url('../../fonts/SoinSansPro-Thin.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SoinSansPro-Thin.woff2') format('woff2'),
	url('../../fonts/SoinSansPro-Thin.woff') format('woff'),
	url('../../fonts/SoinSansPro-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}


@font-face {
	font-family: 'SoinSansPro-BoldOblique';
	src: url('../../fonts/SoinSansPro-BoldOblique.eot');
	src: url('../../fonts/SoinSansPro-BoldOblique.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SoinSansPro-BoldOblique.woff2') format('woff2'),
	url('../../fonts/SoinSansPro-BoldOblique.woff') format('woff'),
	url('../../fonts/SoinSansPro-BoldOblique.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}


@font-face {
	font-family: 'SoinSansPro-Oblique';
	src: url('../../fonts/SoinSansPro-Oblique.eot');
	src: url('../../fonts/SoinSansPro-Oblique.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SoinSansPro-Oblique.woff2') format('woff2'),
	url('../../fonts/SoinSansPro-Oblique.woff') format('woff'),
	url('../../fonts/SoinSansPro-Oblique.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}


@font-face {
	font-family: 'SoinSansPro-Medium';
	src: url('../../fonts/SoinSansPro-Medium.eot');
	src: url('../../fonts/SoinSansPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SoinSansPro-Medium.woff2') format('woff2'),
	url('../../fonts/SoinSansPro-Medium.woff') format('woff'),
	url('../../fonts/SoinSansPro-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}


@font-face {
	font-family: 'SoinSansPro-Headline';
	src: url('../../fonts/SoinSansPro-Headline.eot');
	src: url('../../fonts/SoinSansPro-Headline.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/SoinSansPro-Headline.woff2') format('woff2'),
	url('../../fonts/SoinSansPro-Headline.woff') format('woff'),
	url('../../fonts/SoinSansPro-Headline.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}


* {
	font-family: 'SoinSansPro-Roman';
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
	padding: 0px;
	margin: 0px;
}
.wrapper {
	width: 1180px;
	margin: 0px auto;
}
header {
	height: 65px;
	background: #36312b;
	padding: 0px 25px;
}
header .wrapper a.logo-container {
	height: 100%;
	padding: 15px 15px 15px 0px;
}
header .wrapper a.logo-container img{
	height: 35px;
}
header .wrapper nav {
	height: 65px;
}
header .wrapper nav ul.nav.nav-tabs{
	height: 100%;
	border: none;
	margin-left: 50px;
}
header .wrapper nav ul.nav.nav-tabs > li {
	padding: 0px 22px;
	margin-right: 30px;
}
header .wrapper nav ul.nav.nav-tabs > li > a {
	color: #524e49;
	font-size: 20px;
	padding: 22px 0px;
	text-transform: uppercase;
	border: none;
	border-radius: 0px;
	font-weight: 500;
	letter-spacing: 2px;
	font-family: 'SoinSansPro-Light';
}
header .wrapper nav ul.nav.nav-tabs >  li > a:hover {
	background: none;
	color: #FFF;
	outline: none;	
} 
header .wrapper nav ul.nav.nav-tabs > li > a.active{
	background: none;
	border-top: 5px solid #715e48;
	color: #FFF;
	padding-top: 16px;
	outline: none;
}
.main-container {
	width: 100%;
	padding: 20px 0px;
	margin: 0px auto;
}
.main-container .wrapper {
	
}
.main-container .wrapper div.trip-details {
	box-shadow: 0px 0px 1px #dbdbdb;
}
.main-container .wrapper div.trip-details h2{
	color: #5b5b5b;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
	height: 50px;
	vertical-align: middle;
	background: #ececec;
	padding: 16px 50px;
	border: 1px solid #dbdbdb;
	box-shadow: inset 0px 0px 1px #dbdbdb;
}
.main-container .wrapper div.trip-details > div.col-md-12{
	border: 1px solid #e5e5e5;
	background: #f6f6f6;
	padding: 10px;
}
.main-container .wrapper div.trip-details .list-container {
	padding: 10px 20px
}
.main-container .wrapper div.trip-details > div.col-md-12 ul {
	padding: 0px;
}
.main-container .wrapper div.trip-details > div.col-md-12 ul li {
	position: relative;
	padding: 7px 0px;
	list-style-position: inside;
	color: #6d6d6d;
	font-size: 15px;
}
.main-container .wrapper div.trip-details > div.col-md-12 ul li:after{
	content: "";
	height: 100%;
	border-left: 1px solid #ababab;
	position: absolute;
	left: 2px;
	top: 16px;
}
.main-container .wrapper div.trip-details > div.col-md-12 ul li:last-child:after {
	display: none;
}
.main-container .wrapper div.trip-details > div.col-md-12 ul li label{
	font-size: 16px;
	color: #5b5b5b;
	margin: 0px;
	font-family: 'SoinSansPro-Medium';
	font-weight: normal;
	width: 30%;
}
.main-container .wrapper div.trip-details > div.col-md-12 ul li span {
	position: relative;
	left: 20px;
	top: 2px;
	font-size: 16px;
	font-weight: 500;
	color: #686868;
	text-indent: -10px;
}
.main-container .wrapper div.trip-details > div.col-md-12 ul li.guest-room-count span {
	font-weight: 700;
}
.main-container .wrapper div.guest-details {
	/*border-bottom: 2px solid #f2f2f1;*/
	padding-bottom: 10px;
}
.main-container .wrapper div.guest-details h4 {
	text-transform: uppercase;
	position: relative;
	padding-left: 50px;
	margin-bottom: 25px;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1.5px;
}
.main-container .wrapper div.guest-details h4 span {
	position: absolute;
	left: 0px;
	top: -10px;
	width: 30px;
	height: 30px;
	color: #5b5b5b;
	background: #eee;
	border-radius: 50%;
	text-align: center;
	padding: 8px 0px;
	font-weight: 700;
}
.main-container .wrapper div.guest-details div.col-md-6 {
	margin: 30px 0px 10px;
}
.main-container .wrapper div.guest-details div.col-md-6 ul li {
	margin: 15px 0px;
	color: #686868;
}
.main-container .wrapper div.guest-details div.col-md-6 ul li label{
	font-size: 16px;
	font-family: 'SoinSansPro-Medium';
	font-weight: normal;
	width: 30%;
	color: #5b5b5b;
	margin: 0px;
}
.main-container .wrapper div.guest-details div.col-md-6 ul li span {
	position: relative;
	left: 10px;
	font-size: 16px;
	font-weight: 500;
	color: #686868;
}
.main-container .wrapper div.guest-details div.col-md-6 ul li span a.view {
	color: #beac93;
	text-decoration: none;
}
.main-container .wrapper div#accordion {
	margin: 0px 0px 15px 0px;
}
.main-container .wrapper div#accordion.panel-group .panel {
	border: none;
	border-bottom: 2px solid #f2f2f1;
	border-radius: 0px;
	box-shadow: none;
	margin: 7px 0px;
	overflow: auto;
}
.panel .panel-heading {
	background: none;
	border: none;
	padding: 20px 4px;
	overflow: hidden;
}
.panel .panel-heading .panel-title a {
	text-decoration: none;
	position: relative;
}
.panel .panel-heading .panel-title a:focus {
	outline: none;
}
.panel .panel-heading .panel-title a span {
	color: #5b5b5b;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-decoration: none;
	font-family: 'SoinSansPro-Medium';
}
.panel .panel-heading .panel-title a .titletxt {
	color: #5b5b5b;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-decoration: none;
	font-family: 'SoinSansPro-Medium';
}
.panel .panel-heading .panel-title a span:first-child:after {
	content: "|";
	padding: 0px 10px;

}
.panel .panel-heading .panel-title.col-md-12 a span.plus,
.panel .panel-heading .panel-title.col-md-12 a span.minus  {
	width: 34px;
	height: 32px;
	color: #FFF;
	background: #36312a;
	border-radius: 3px;
	font-size: 30px;
	line-height: 25px;
	text-align: right;
	padding: 4px 8px 4px 8px;
	position: absolute;
	right: -3px;
	top: -7px;
}
.panel .panel-heading .panel-title.col-md-12 a span.plus  {
	display: none;
}
.panel .panel-heading .panel-title a:not(collapsed) span.minus {
	display: block;
}
.panel .panel-heading .panel-title.col-md-12 a.collapsed span.minus {
	display: none;
}
.panel .panel-heading .panel-title a.collapsed span.plus {
	display: block;
}
.panel .panel-collapse.collapse {
	overflow: auto;
	padding-bottom: 30px;
}
.panel .panel-collapse .panel-body {
	border: none;
}
.panel .panel-collapse .panel-body table.col-md-12 tr > td {
	background: #fefefe;
	color: #686868;
	font-weight: 300;
	border: 1px solid #d4d4d4;
	padding: 7px;
}
.panel .panel-collapse .panel-body table.col-md-12 tr > th {
	color: #686868;
	background: #EBEBEB none repeat scroll 0% 0%;
	border: 1px solid #D4D4D4;
	font-weight: 500;
	font-size: 16px;
	padding: 10px;
	white-space: nowrap;
}
.panel .panel-collapse .panel-body table.col-md-12 tbody > tr > td input,
.panel .panel-collapse .panel-body table.col-md-12 tbody > tr > td select {
	/*height: 30px;*/
	border: 1px solid #d7d5d5;
	border-radius: 2px;
	padding: 7px;
}
.panel .panel-collapse .panel-body table.col-md-12 tbody > tr > td select {
	-webkit-appearance: none;       
	-moz-appearance: none;    
	appearance: none;
	position: relative; 
}
.select-container:before {
	content: " ";
	width: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid #7a5d34;
	position: absolute;
	right: 10px;
	top: 17px;
	z-index: 1;
	pointer-events: none;
}
.panel .panel-collapse .panel-body table.col-md-12 tbody > tr > td:first-child {
	background: #f3f3f3;
}
.panel-collapse .panel-body table.col-md-12 tbody > tr > td:nth-child(2) {
	background: #f9f9f9;
}
.panel .panel-collapse .panel-body table.col-md-12 tbody > tr > td:nth-child(2) .relative {
	position: relative;
}

.panel .panel-collapse .panel-body table.col-md-12 tbody > tr > td .description-text{
	width: 360px;
	position: absolute;
	padding: 10px;
	background-color: #fafafa;
	border: 1px solid #cecece;
	box-shadow: 0px 0px 2px #cecece;
	top: 30px;
	left: -10px;
	z-index: 1;
	display: none;
}
.panel .panel-collapse .panel-body table.col-md-12 tbody > tr > td .description-text:before {
	content: " ";
	width: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #cecece;
	position: absolute;
	left: 85px;
	top: -10px;
	z-index: 1;	
}
tbody{vertical-align: top;}

.panel .panel-collapse .panel-body table.col-md-12 tbody > tr > td ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.panel .panel-collapse .panel-body table.col-md-12 tbody > tr > td ul li{
	color: #686868;
	font-size: 14px;
	line-height: 24px;
}

.panel .panel-collapse .panel-body table.col-md-12 tbody > tr > td ul li.namehotel{
	color: #686868;
	font-size: 14px;
	padding-bottom: 10px;
	line-height: 24px;
}

.panel .panel-collapse .panel-body table.col-md-12 tbody > tr > td ul li.smalltxt{
	color: #686868;
	font-size: 12px;
	line-height: 24px;
}


.btn-save, .btn-save:hover, .btn-save:focus, .btn-save:active {
	padding: 10px 20px;
	background-color: #dc665a !important;
	color: #FFF !important;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	float: left;
	font-family: 'SoinSansPro-Light';
}



.to-top {
	display: inline-block;
	height: 39px;
	width: 39px;
	cursor: pointer;
	position: fixed;
	bottom: 40px;
	right: 25px;
	background: url(../images/up_icon.png);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}
.to-top.visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}

.activbox{
	font-size: 12px;
	background-color: #fafafa;
	padding: 7px;
	border: 1px solid #d4d4d4;
	margin: 6px 0px;
}

.dropdown-icon {
	background: transparent url("../images/dropdown-arrow-ico-white.png") no-repeat scroll right center;
	border-radius: 0 3px 3px 0;
	height: 36px;
	pointer-events: none;
	position: absolute;
	right: -6px;
	top: 1px;
	width: 33px;
	z-index: 9;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	vertical-align: baseline;
}

/*------------ table selection--------------*/

*.unselectable
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.user-table > tbody > tr.selected-rowselection > td, 
.user-table > tbody > tr.selected-rowselection > td input, 
.user-table > tbody > tr.selected-rowselection > td select,
.user-table > tbody > tr.selected-rowselection > td textarea
{
	background-color: #cfc6ba !important;
	color: #686868 !important;
}


/*-------------common -----------------*/

.font12{font-size: 12px;}
.font14{font-size: 14px;}
.font13{font-size: 13px;}
.linhgt40{line-height: 40px;}
.wdt100per{width: 100%;}
.wdt32per{width: 32%;}
.wdt24per{width: 24%;}
.wdt15per{width: 15%;}
.wdt16per{width: 16%;}
.wdt18per{width: 18%;}
.wdt9per{width: 9%;}
.wdt7per{width: 7%;}
.wdt10per{width: 10%;}
.wdt20per{width: 20%;}
.wdt30per{width: 30%;}
.wdt40per{width: 40%;}
.wdt25per{width: 25%;}
.wdt14per{width: 14%;}
.wdt12per{width: 12%;}
.wdt11per{width: 11%;}
.wdt2744per{width: 27.5%;}
.mgnlft15{margin-left: 15px;}
.mgn-rgt30{margin-right: 30px;}
.mgnbtm15{margin-bottom: 15px;}
.wdt307perc{width: 30.7%;}
.mgn-tp27{margin-top: 27px;}
.wdt100perc{width: 100%;}
.mgn20{ margin: 20px 0px 0px 20px !important;}
.bdr0{border:0px;}
.displayinflex{display: inline-flex;}
.wdhe100per{width: 100%; height: 100%;}
.bdrtp1sc{ border-top: 1px dashed #ccc;}
.bdgbtm0{border-bottom: 0px !important;}
.mgntp35{    margin-top: 35px;}

.pointerclass {
	cursor: pointer;
}

.date_icon {
	background: url("../images/calender-icon2.png") no-repeat 95% center #fff;
}

.closeicon{
	background: url("../images/close-icon.png") no-repeat 50% center #fff;
	width: 18px;
	height: 18px;
	position: absolute;
	cursor: pointer;
}
.contacticon{
	right: 48px;
	top: 13px;
}
/*----------------- bootstrap overwritten ---------------*/
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
	border-top: 0px;
}

.btn-primary {
	color: #fff;
	background-color: #de6e62;
	border-color: #de6e62;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 0px 28px;
	letter-spacing: 0.09em;
	border-width: 2px;
	line-height: 36px;
	font-family: 'SoinSansPro-Light';
	font-weight: 500;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn-gold:hover, .btn-gold:focus{
	color: #fff;
}

.btn-gold {
	color: #fff;
	background-color: #b9a284;
	border-color: #b9a284;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 0px 28px;
	letter-spacing: 0.09em;
	border-width: 2px;
	line-height: 36px;
	font-family: 'SoinSansPro-Light';
	font-weight: 500;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.form-control{
	height: 40px;
	padding: 6px 15px;
	background-color: transparent !important;
	-moz-appearance:window;
	-moz-appearance:none;
}

label{
	font-size: 16px;
}

.checkbox label, .radio label {
	min-height: 21px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer;
	padding-left: 32px;
	margin-right: 30px;
}

.checkbox, .radio {
	background: transparent !important;
}

@media (min-width: 1200px){
	.container {
		width: 100%;
		padding: 0;
	}
}


/*--------------show more/show less -------------*/
.morecontent span {
	display: none;
}
.morelink, .morelink:hover  {
	display: block;
	color: #beac93;
	text-decoration: none;
}

/* ---- date picker calender ----*/
.ui-widget-header {     
	border: 1px solid #36312A !important;
	background: #422B19 !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 1px solid #36312A !important;
	background: #422B19 !important;
	color: #ffffff !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid #36312A !important;
	background: #E4B794 !important;
	color: #FFFFFF !important;
}
.ui-datepicker{
	z-index: 9 !important;
}

/*-----custom checkbox------------*/
.checkbox input[type="checkbox"]{
	display: none;
}

.checkbox input[type="checkbox"] + label{
	background: url("../images/check-off.png") no-repeat;
}

.checkbox input[type="checkbox"]:checked + label{
	background: url("../images/check-on.png") no-repeat;
}

/*----- search services -------*/
.sscont{
	padding: 15px 0px;
	padding-bottom: 0;
}

.sscontlines{
	margin: 10px 0px;
	display: inline-block;
	width: 100%;
	position: relative;
}

.rowSelected {
	background-color: #eee;
}	
.listcontainer{
	height: 146px;
	border: 1px solid #d8d8d8;
	padding: 5px;
	overflow-y:scroll;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffffff;
}
.listcontainer ul{
	list-style-type: none;
	margin-bottom: 0;
	padding: 0;
}

.listcontainer ul li{
	font-size: 16px;
	color: #595754;
	font-family: 'SoinSansPro-Roman';
	line-height: 28px;
	padding-left: 6px;
}
.listcontainer ul li input{ 
	visibility: hidden;
	position: absolute;
}
.listcontainer ul li label{
	font-size: 16px;
	color: #595754;
	font-family: 'SoinSansPro-Roman';
	letter-spacing: inherit;
	line-height: initial;
	font-weight: normal;
	margin-bottom: 0px;
	width: 100%;
	cursor: pointer;
}

#listselected ul{
	list-style-type: none;
}

#listselected li{
	float: left;
	background-color: #e3e3e3;
	margin: 4px 12px 4px 0px;
	padding: 5px 5px 6px 12px;
	line-height: 16px;
	font-size: 15px !important;
	color: #595754 !important;
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
}
#listselected li span{
	color: #838380;
	font-size: 20px;
	padding: 0px 5px;
	cursor: pointer;
}


.selectionconts{
	width: 32%;
	float: left;
	margin-right: 30px;
}
.selectiondispconts{
	width: 30.7%;
	float: right;
}

/*------service list -------*/
.slcontlinesdottec{
	border: 2px dotted #B0B0B0;
	padding-top: 18px;
}
.slcontainer{
	background: #f8f8f8;
	padding-top: 30px;
	border: 1px solid #d7d6d6;
	padding: 18px 42px;
	/*margin: 0px 12px;*/
}

.slcontlines{
	margin: 0 auto;
	display: block;
	width: 70%;
}

.goldencont{
	width: 30%;
	display: inline-flex;
	margin-right: 30px;
	position: relative;
}

.goldencont label{
	float: left;
	margin-right: 20px;
	line-height: 38px;
	color: #beac93;
	letter-spacing: 0.03em;
	font-family: 'SoinSansPro-Medium';
	font-weight: normal;
}

.goldencont input{
	float: left;
	color: #beac93;
}

.goldencont select{
	float: left;
	color: #beac93;
}

.slserviectable {
	margin: 25px 0px;
}

.slserviectable table{
	width: 100%;
	border: 1px solid #d7d6d6;
}

.slserviectable table thead{     
	background: #eeeeee;
	border-bottom: 2px solid #d7d6d6;
	color: #606060;
	font-size: 16px;
}

.slserviectable table thead tr th{
	padding: 15px;
	text-align: left;
	margin: 0px;
}

.slserviectable table tbody{
	background: #fff;
}

.slserviectable table tbody tr{
	border-top: 1px solid #f2f2f1;
	color: #686868;
	font-size: 16px;
}

.slserviectable table tbody tr td{
	padding: 6px 15px;
	text-align: left;
}

.slserviectable table tbody tr td.checkbox, .slserviectable table thead tr th.checkbox {
	margin: 0px 0px 0px 10px;
	position: relative;
	top: 4px;
}

.slserviectable table tbody tr td.checkbox label, .slserviectable table thead tr th.checkbox label{
	margin-right: 0 !important;
	padding-left: 21px !important;
}

.slserviectable table tbody tr td .form-group {
	margin-bottom: 0px;
	position: relative;
}

.slserviectable table tbody tr td .form-group select{
	border: 0px;
	box-shadow: none;
	font-size: 16px;
	height: 40px;
	padding: 10px 0px;
	background: transparent;
}

.slserviectable table tbody tr:last-child {
	background: #fff !important;
}

.slserviectable table tbody tr:hover, .slserviectable table tbody tr.active {
	background-color:#d2c9bd;
}

.loadmore{
	text-align: center !important;
}

.loadmore a{
	background: #dc665a;
	padding: 3px 25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.04em;
}

.dropdown-icon2 {
	background: transparent url("../images/dropdown-arrow-ico-white.jpg") no-repeat scroll right center;
	border-radius: 0 3px 3px 0;
	height: 38px;
	pointer-events: none;
	position: absolute;
	right: 1px;
	top: 29px;
	width: 33px;
	z-index: 9;
}

/*options n extras*/
.optionscont{
	width: 64%;
	margin-right: 30px;
}

.commoncontainer{
	background: #fff;
	border: 1px solid #d7d6d6;
}

.commontable{
	position: relative;
	width: 100%;
	display: inline-block;
}

.commontable thead{
	display: inline-block;
	width: 100%;
	position: relative;
}

.commontable thead tr, .commontable tbody tr{
	position: relative;
	width: 100%;
	display: inline-table;
	border-bottom: 2px solid #f2f2f1;
	font-size: 14px;
}

.commontable thead tr th{
	padding: 16px 25px;
	font-size: 18px;
}

.commontable tbody{
	margin-bottom: 15px;
	display: inline-block;
	width: 100%;
	position: relative;
}

.commontable tbody tr td{
	padding: 8px 25px;
	position: relative;
}

/*.commonextra tbody tr td{
	padding: 18px 25px !important;
	}*/

	.commontable tbody tr td .form-group{
		margin-bottom: 0px;
		display: -moz-groupbox;
	}

	.commontable tbody tr td .form-group select, .commontable tbody tr td .form-group input {
		border: 0;
		box-shadow: none;
		padding: 4px 0px;
		background-color: transparent;
	}

	.commontable tbody tr td .form-group i.dropdown-icon2{
		right: 18px;
		top: 9px;
	}

	.adbtn{
		padding: 5px 10px 10px 10px;
	}
	.adbtn a img{margin-right: 8px;}

	.adbtn a, .adbtn a:hover{
		font-size: 14px;
		color: #b9a284;
		text-decoration: none;
		cursor: pointer;
	}


	/*contrcts*/
	.contrctscont{
		background: #f8f8f8;
		border: 1px solid #d7d6d6;
		padding: 30px 40px;
	}

	.contrctsinnercont{
		margin-bottom: 25px;
		display: inline-block;
		width: 100%;
	}

	.contrctsinnercont h3{
		color: #5b5b5b;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 0.04em;
		font-family: 'SoinSansPro-Medium';
	}

	.bdrrytdoted{
		border-right: 2px dotted #ccc;
		padding-right: 30px;
	}

	.seasoncontainer{
		width: 47%;
		float: left;
		margin-right: 42px;
	}

	.seasoncontainer2{
		width: 49%;
		float: left;
	}

	.seasonlist{
		padding: 15px 0px;
	}

	.seasonlist ul{
		padding: 0;
		list-style-type: none;
		margin: 0px 15px;
		display: inline-block;
		width: 94%;
	}

	.seasonlist ul li{
		font-size: 16px;
		color: #5b5b5b;
		float: left;
		font-family: 'SoinSansPro-Medium';
		margin: 15px;
	}

	.seasonlist ul li a{
		color: #5b5b5b;
		letter-spacing: 0.04em;
		padding: 10px 24px;
		margin-right: 8px;
	}

	.seasonlist ul li a:hover{
		color: #fff;
		text-decoration:none;
		background: #dc665a;
	}
